* {
  scroll-behavior: smooth;
}
html {
  background-color: #22223b;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
body {
  max-width: 100rem;
  margin: auto;
  display: grid;
  justify-content: center;
  gap: 0.5rem;
}
h1 {
  color: #f2e9e4;
}
h2 {
  color: #f2e9e4;
  margin: 0.5rem;
}
p {
  color: #f2e9e4;
  margin: 0.5rem;
}

a {
  color: #f2e9e4;
}

ul {
  line-height: 2.5em;
}

/* img {
  border-radius: 8%;
} */

section {
  min-height: 100vh;
  padding-top: 4rem;
}

/* ******************************
*****Header Top Nav CONTENT***********
****************************** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #22223b;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header h1 {
  padding-left: 8rem;
  font-size: 1.75rem;
}
.topnav {
  /* display: flex; */
  /* justify-content: right; */
  /* justify-content: flex-end; */
  /* padding: 1rem; */
  padding-right: 8em;
}
.topnav a {
  text-decoration: none;
  padding: 1em;
  border-bottom: 1.5px solid transparent;
  transition: all 0.55 ease;
  font-style: normal;
  font-size: 1.5rem;
}

.topnav a:hover {
  border-bottom: 1.5px solid #f2e9e4;
  color: orangered;
}

#menu-icon {
  font-size: 3rem;
  color: #f2e9e4;
  display: none;
}

/* ******************************
*********HOME CONTENT***********
****************************** */

.homeSection {
  gap: 0.5rem;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: 1.75fr 1fr;
  padding-top: 6rem;
  max-width: 100em;
  min-width: 100em;
  /* padding: 0; */
}

.idLeft {
  /* float: left; */
  background-color: #8c7d89;
  border-radius: 8px;
  padding: 1rem;
}
.idPhoto {
  border-radius: 8px;
  display: flex;
  justify-content: left;
}
.idList {
  /* background-color: rgb(23, 139, 0); */
  border-radius: 8px;
  color: #f2e9e4;
}

.idList h1 {
  font-size: 5rem;
  margin: 8px;
}

.idList p {
  font-size: 4rem;
  color: #22223b;
}

.idSection {
  background-color: #4a4e69;
  margin-top: 0px;
  padding: 1rem;
  border-radius: 8px;
  display: grid;
  gap: 1rem;
  /* grid-auto-rows: 1fr; */
}

.idRight {
  background-color: #8c7d89;
  border-radius: 8px;
}

.social-links {
  display: flex;
  justify-content: space-around;
  color: #22223b;
  font-size: 5rem;
  width: 4.4em;
}
.social-links a {
  /* padding: 0 45px 0 45px; */
  color: #22223b;
  /* text-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/* ******************************
*********ABOUT CONTENT***********
****************************** */
.about {
  /* align-items: center; */
  gap: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  /* padding-bottom: 5rem; */
  padding-top: 6rem;
  max-width: 100em;
  min-width: 100em;

}
.about-content {
  display: grid;
  background-color: #4a4e69;
  border-radius: 8px;
  gap: 0.5rem;
  padding: 1rem;
  min-width: 100em;

}
.about-content h1 {
  margin: 0.5rem;
}

/* ******************************
*********Projects CONTENT*******
****************************** */

.projects {
  /* align-items: center; */
  gap: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  /* padding-bottom: 5rem; */
  padding-top: 6rem;
  max-width: 100em;
  min-width: 100em;

}

.projects-content {
  display: grid;
  background-color: #4a4e69;
  border-radius: 8px;
  gap: 0.5rem;
  padding: 1rem;
  min-width: 100em;

}

.projects-content h1 {
  margin: 0.5rem;
}

.project-Cards-wrapper {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
}

.project-Cards {
  height: 25rem;
  align-items: center;
  border-radius: 8px;
  background-color: #8c7d89;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project-Cards img {
  overflow: hidden;
  margin: auto;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.btn1 {
  background-color: #22223b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0.4rem;
  width: 10em;
}

.btn1:hover {
  /* background-color:#4A4E69; */
  background-color: #8c7d89;
  color: #22223b;
  border: 2px solid;
  border-color: #22223b;
  padding: 13px 29px;
}

.btn1:active {
  transform: translateY(2px);
}

/* .btn2 {
  background-color: #af4ca8; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

@media only screen and (max-width: 1080px) {
  .header {
    justify-content: center;
  }

  .topnav {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }

  .topnav a {
    font-size: 100%;
  }

  .header h1 {
    display: none;
  }
  .homeSection,.about,.projects {
    align-items: start;
    min-width: 0;
  }
}

@media only screen and (max-width: 600px) {
  .homeSection {
    /* max-width: 960px; */
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    padding-top: 3rem;
    min-width: auto;

  }

  .idList ul {
    display: flex;
    /* flex-grow: 4; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
  }

  .idList li {
    display: flex;
    /* flex-grow: 3; */
    justify-content: space-evenly;
  }

  .topnav a {
    font-size: 70%;
  }

  .projects,
  .about {
    padding-top: 3rem;
    min-width: 0;

  }

  .projects-content, .about-content {
    /* min-width: auto; */
  }

  .project-Cards-wrapper {
    grid-template-columns: 1fr;
  }

  .idPhoto {
    border-radius: 8px;
    display: flex;
    justify-content: center;
  }
  .idList {
    /* background-color: rgb(23, 139, 0); */
    border-radius: 8px;
    color: #f2e9e4;
  }

  .idList h1 {
    font-size: 3rem;
    margin: 8px;
  }

  .idList p {
    font-size: 1.9rem;
    color: #22223b;
  }
}
